@font-face {
    font-family: 'Overlorder';
    src: url('Overlorder.woff2') format('woff2'),
        url('Overlorder.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

