@font-face {
    font-family: 'progresspixel';
    src: url('progresspixel-bold.woff2') format('woff2'),
        url('progresspixel-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

